<div class="navbar">
    <div class="logo">
        <a href="http://localhost:3001"><span>Nexus</span></a>
    </div>
    <div class="nav-links">
        <div class="nav-link-items">
            <a class="nav-link-item" href="/signup">Signup</a>
            <a class="nav-link-item" href="/login">Login</a>
            <a class="nav-link-item" href="/clubs">Clubs</a>
            <!-- <a class='nav-link-item' href="/clubs">Clubs</a> -->
        </div>
        <!-- <div class="nav-link-icons">
              <i class="nav-icon-item fas fa-bell"></i>
              <i class="nav-icon-item far fa-user"></i>
          </div> -->
    </div>
</div>