<div class="navbar">
    <div class="logo">
        <a href="../home/homepage.html"><span>Nexus</span></a>
    </div>
    <div class="nav-links">
        <div class="nav-link-items">
            <a class="nav-link-item" href="../clublisting/clublisting.html">Clubs</a>
        </div>
    </div>
</div>

<div class="clubdeets-maincon section2">
    <div class="deets-con section2">
        <div class="logo-con">
            <img src="../../assets/t.png" />
        </div>

        <div class="namemotto-con">
            <div class="title-con">
                <span>ACM</span>
            </div>

            <div class="motto-con">
                <span>Advancing Computing as a Science & Profession</span>
            </div>
        </div>
    </div>

    <div class="quickinfo-con">
        <div class="dbcard contact-con quickinfo-card">
            <div class="cardhead">Get in touch</div>

            <div class="contacts-con">
                <div class="cont-con">
                    <a class="phone-a" href="">
                        <div class="phone-con">
                            <i class="fa-solid fa-phone git-i"></i>
                            <span>9999999999</span>
                        </div>
                    </a>

                    <a class="insta-a" href="">
                        <div class="ig-con">
                            <i class="fa-brands fa-instagram git-i"></i>
                            <span>club.bmu</span>
                        </div>
                    </a>
                </div>
                <div class="cont-con">
                    <a class="email-a" href="">
                        <div class="email-con">
                            <i class="fa-solid fa-envelope git-i"></i>
                            <span></span>
                        </div>
                    </a>
                    <a class="linkedin-a">
                        <div class="email-con">
                            <i class="fa-brands fa-linkedin git-i"></i>
                            <span class="linkedin-s"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-con">
        <div class="linitem-con">
            <a href="#about">
                <span>About</span>
            </a>
        </div>
        <div class="linitem-con">
            <a href="#whyus"> <span>Why us?</span></a>
        </div>
        <div class="linitem-con">
            <a href="#milestones"> <span>Milestones</span></a>
        </div>
    </div>

    <div class="dbcard content-con about" id="about">
        <div class="cardhead">
            <span>About</span>
        </div>
        <div class="conttext-con">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod,
            consectetur.
        </div>
    </div>

    <div class="whyus-mile">
        <div class="dbcard content-con whyus" id="whyus">
            <div class="cardhead">
                <span>Why us?</span>
            </div>
            <div class="conttext-con">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores,
                alias.
            </div>
        </div>

        <div class="dbcard content-con milestones" id="milestones">
            <div class="cardhead">
                <span>Milestones</span>
            </div>
            <div class="conttext-con">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe,
                assumenda!
            </div>
        </div>
    </div>
</div>

<script src="clubdetails.js"></script>