<div class="footer-main">
  <div class="footer-content">
    <div class="logos-con">
      <div class="nexus-con">
        <img src="https://res.cloudinary.com/deuv3jnzu/image/upload/v1728714684/nav_nexus_logo_telvkl.png" alt="Nexus Logo" />
      </div>
      <div class="bmu-con">
        <img src="/assets/BMU Logo-06.png" alt="BMU Logo" />
      </div>
    </div>

    <div class="footer-links-con">
      <div class="text-links-con">
        <div class="footer-link">
          <a href="/">Home</a>
        </div>
        <div class="footer-link">
          <a href="/">About</a>
        </div>
        <div class="footer-link">
          <a href="/">Contact</a>
        </div>
        <div class="footer-link">
          <a href="/">Club Comm Norms</a>
        </div>
        <div class="footer-link">
          <a href="https://67thmilestone.bmu.edu.in/">67th Milestone</a>
        </div>
      </div>

      <div class="icon-links-con">
        <div class="footer-link">
          <a href="/">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="fdivider"></div>

    <div class="copyright-con">
      <div class="copyright">
        © Nexus | BML Munjal University | All rights reserved
      </div>
    </div>
  </div>
</div>